
#nav_y
{
	text-align:left !important;
	background:#747378;
}

#nav_y ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
	width:100%  ;
	background:#747378;                      /*---edit width ul, nav_X bo di---*/
}

#nav_y ul a
{
	display:block;
	text-decoration:none;
	line-height:250%;                      /*---edit line height---*/
	color:#fff ;               /*---edit---*/
	  
	text-align:left;
	line-height:200%;
	text-transform:uppercase;
	padding-left:35px;
	font-weight:bold;
	font-size:120%;
}

#nav_y ul li
{
	width:100%;
	float:left;                             /*---edit width li---*/
	/*height:32px;  */                          /*---edit height li, nav_X co the bo di---*/
	margin:0;
	padding:0;
	cursor: pointer; 
     -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out; 
			margin-left:0px;
			 
			text-align:left;
			background:#04B5C5;
			
             

}

#nav_y ul > li:last-child {
	
}
#nav_y ul li.active
{	                       /*---edit mau sac active---*/  
	  
}
#nav_y ul li.active a
{
	color:#000;
	                       /*---edit mau sac active---*/  
}

#nav_y ul li a:hover
{
	 color:#000;
}

#nav_y ul ul
{
/*	display:none;*/
/*	position:absolute;
	top:20px;                                  /*---edit width li---*/
	/*left:100%;*/                               /*---edit width li---*/
	/*background:#fff;*/
	padding:0;
	/*border:1px solid #6C6B70;*/
	z-index:99999;
	width:100%; float:left;
	 
}

#nav_y ul ul li
{
	float:none;   /*---edit width li level 2, 3---*/
	border:0px ;
	position:relative;
	z-index:9999;
	background:none;
	margin:0;
	padding:0;
	
	                  
}
#nav_y ul ul li:hover
{ 
background: #04B5C5;
}
#nav_y ul ul a
{
	line-height:250%;
	padding:0px 0px 0px 25px;               /*---edit padding left a li level 2, 3---*/
	/*border-bottom: 1px dotted #6A6255;*/
	/*color:#000;*/
	background:url(../Images/li_nav_y.png) 10px center no-repeat;
	border:0px;
	font-size:100%;
	font-weight:normal;
}
#nav_y ul ul a:hover
{
	/*color:#fff;*/
	}
#nav_y ul ul li:last-child > a, #nav_y ul ul li.last > a {
	border-bottom: 0;
}
#nav_y ul ul ul
{
	top:0;
	left:100%;
	position:absolute;
	display:none;
}

#nav_y ul ul li:hover > ul
{
	display:block;
}


@media only screen and (min-width: 768px) and (max-width: 999px) 
{
    #nav_y  ul  li  a {font-size: 90% }
	
}
@media only screen and (max-width: 767px) 
{
    #nav_y > ul > li > a {font-size: 90% }
	#nav_y  ul  ul li{ display:none;border:0px; }   
}