#nav_x {
	width: 100%;
	float: left;
	height: 40px;
	background: #00B962;
	position: relative;
	/*-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;*/
	position: relative;
	z-index: 99999999999999999999999;
	background-image: linear-gradient( to right, #043770 , #0284E2, #043770 100% );
}
#nav_x ul {
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 110%;
}
#nav_x ul a {
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	 
	line-height: 40px;                      /*---edit line height---*/
	padding: 0px 24px 0px 24px;
	font-weight: 700;
	text-transform: uppercase;                       /*---edit---*/
}
#nav_x ul li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;                           /*---edit line height---*/
	cursor: pointer;
	/*background:url(../Images/bg_li_nav_x.png) left center no-repeat ;*/
	border-left: solid 1px #08274D;/*---edit bacground li---*/
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#nav_x ul > li:first-child {
	background: none;
	padding: 0;
	border-left: 0
}
#nav_x ul li.active {
	color: yellow; 
	/*background-color: #FCCF00; */                     /*---edit mau sac active---*/
}
#nav_x ul li.active a {
	color: yellow;                        /*---edit mau sac active---*/
}
#nav_x ul li:hover a {
	color: #000 !important;
}
#nav_x ul li:hover {
	background: #FCCF00;                  /*---edit mau sac hover---*/
}
#nav_x ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
	padding: 0;
	border: 1px solid #6a6255;
	width: 200px;
	z-index: 99999999999999999999999;
	float: left;
}
#nav_x ul ul li {
	float: none;
	width: 200px;                            /*---edit width li level 2, 3---*/
	border-left: 0;
	position: relative;
	z-index: 99999999999999999999999;
	border-bottom: 1px dotted #CCCCCC;
	background: #fff;
	height: 30px;
	text-align: left !important;
}
#nav_x ul ul li:hover {
	background: #eee;
}
#nav_x ul ul a {
	padding-left: 15px;                      /*---edit padding left a li level 2, 3---*/
	color: #000;
	line-height: 30px;
	font-weight: normal;
	font-size: 12px;
}
#nav_x ul ul a:hover {
	color: #fff
}
#nav_x ul ul li:last-child > a, #nav_x ul ul li.last > a {
	border-bottom: 0;
}
#nav_x ul ul ul {
	top: 0;
	left: 100%;
}
#nav_x ul li:hover > ul {
	display: block;
}
/*-------------------------------------*/
#nav_x span {
	float: left;
}
