@charset "utf-8";
/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
	border: none
}
body {
	margin: 0;
	padding: 0;
	font: normal 12px/1.4 Arial, Helvetica, sans-serif;
	color: #000;
	outline-color: initial;
	outline-style: none;
	outline-width: initial;
	overflow-x: hidden;
	background: url(../Images/bg.png);/*background-image:
    linear-gradient(
      to bottom,
      #D9E0E6,
      #fff 50%
    );*/
}

header .header__text {
	padding-top: 10px;
	color: #fff;
	font-size: 30px;
}

a {
	text-decoration: none;
	color: #0340B8;
}
a:hover, a span:hover {
	color: #F00;
}
* html .clearfix {
	height: 1%;
}
.cf {
	display: block;
	clear: both;
}
img {
	border: none;
	vertical-align: middle
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 125%;
}
h3 {
	font-size: 120%;
}
h4 {
	font-size: 90%;
}
ul, ol {
	list-style: none;
	list-style-position: inside
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
.img_general {
	float: left;
	margin-right: 10px;
}
input {
	border: none;
}
.fl {
	float: left
}
.fr {
	float: right
}
.hidden {
	display: none;
}
.trans {
	transition: All 0.3s ease-out;
	-webkit-transition: All 0.3s ease-out;
	-moz-transition: All 0.3s ease-out;
	-o-transition: All 0.3s ease-out;
}
.list_ul li {
	float: left;
	width: 100%;
	margin: 5px 0
}
.font1 {
	font: 16px Aptima, Helvetica, sans-serif;
	color: #fff;
}
.font2 {
	font: 14px Aptima, Helvetica, sans-serif;
	color: #fff;
}
p {
	display: block;
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 0.5em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
/* WRAPPER --------*/
.container {
	margin: 0 auto;
	position: relative;
	width: 1200px;
}
/* LAYOUT

--------------------------*/
#slider {
	width: 100%;
	float: left;/*	margin-top: 3px;*/
}
#main {
	width: 100%;
	float: left
}
#main_col {
	width: 76.5%;
	margin-top: 10px
}
#main_col_sp {
	width: 100%;
	margin-top: 10px
}
#main_col_inner {
	margin-right: 5px
}
.container:after, header:after, footer:after, #main:after, .topnav:after, .hot_news:after, #footer_bottom:after, .top-main:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}
.box:after, .box_ct:after, .:after {
 clear: both;
 content: "";
 display: block;
 height: 0px;
 visibility: hidden;
}
/*--------------------------*/
/* HEADER*/
/*--------------------------*/
.top_page {
	background: url(../images/bg_top_page.png);
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 190px;
}
header {
	padding: 0px 0px 10px 0px;
	position: relative;
	background: #fff;
	width: 100%;
	float: left;
	min-height: 80px;
	background: url(../images/bg_top_page.png);
}
header .hotline {
	color: #FF0;
	font-weight: bold;
	text-align: center;
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 160%;
}
#logo {
	position: absolute;
	top: 10px;
	left: 40px;
}
#text_logo {
	position: absolute;
	top: 30px;
	left: 270px;
}
#logo img {
}
#text_logo img {
	max-height: 131px;
	max-width: 400px;
}
.main_slide {
	position: relative;
}
/* SEARCH TOP MAIN */
#search_form {
	height: 29px;
	position: relative;
	top: 40px;
	right: 10px;
	background: #FFFFFF;
	margin-left: 30px;
	background: url(../Images/bg_search.png) no-repeat 0 0;
	width: 169px;
	overflow: hidden;
}
#footer #search_form {
	right: 20px;
}
#search_form .inputSearch {
	background: none;
	border: none;
	color: #7B7B7B;
	float: left;
	font-family: Arial;
	line-height: 27px;
	width: 140px;
	padding: 0;
	text-indent: 10px;
	height: 29px;
}
#search_form .submitSearch {
	float: right;
	margin-left : 3px;
	width: 25px;
	height: 29px;
	border: none;
	cursor: pointer;
	background: none;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}
.social_nework {
	position: absolute;
	top: 30px;
	right: 250px;
}
.social_nework a {
	width: 34px;
	height: 34px;
	background: url(../Images/icon_social_network.png) left top no-repeat;
	float: left;
	margin-left: 10px;
}
.social_nework .facebook {
	background-position: -80px 0px;
}
.social_nework .gplus {
	background-position: -89px 0px;
}
.social_nework .yahoo {
	background-position: top left;
}
.social_nework .in {
	background-position: top right;
}
.social_nework .skype {
	background-position: left top;
}
.social_nework .youtube {
	background-position: -40px 0px;
}
/* side bar*/
.sidebar {
	width: 23%;
	/*background: #6A6255;*/
	margin-top: 10px;
	float: right;
	border: 0px solid #6A6255;
}
.box {
	float: left;
	clear: both;
	width: 100%;
	position: relative;
}
.ads{-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;   background:#FFF; border:solid 1px #ccc; padding-bottom:14px; }
.ads a {
	width: 25%;
	height: 130px;
	float: left;
}
.ads a img {
	width: 95%;
	margin: 5px;
	border: solid 1px #ccc;
}
.sidebar .title_box {
	/*	height: 24px;
	line-height: 24px;
	text-align: left;
	/*width: 100%;*/
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	padding-top: 0px;
	padding-bottom: 0px;
}
.box_Tab {
	height: 40px;
	line-height: 40px;
	text-align: left;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	padding-top: 0px;
	padding-bottom: 0px;
	background-image: linear-gradient( to right, #0284E2, #043770 50% );
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
}
.box_Tab span {
	float: left;
	font-size: 110%;
	font-weight: 500;
	color: #fff;
	/*line-height:20px;*/
	text-transform: uppercase;
	padding-left: 10px;
	padding-right: 20px;
	font-weight: 700;
	font-size: 120%
}
.box_ct {
	padding: 10px;
	overflow: hidden;
}
.sidebar .box_ct {
/*border: 0px solid #6C6B70;*/
	 
	 
	 
	 
	 
}
.sidebar .ads {
	text-align: center
}
.sidebar .ads .box_ct {
	padding-bottom: 0px;
}
.sidebar .ads img {
	width: 100%;
}
.sidebar .box {
	border: solid 1px #ccc;
	margin-top: 10px;
	background: #FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.sidebar .box:first-child {
	margin-top: 0px;
}
.tai_van_ban .box_ct li {
	width: 100%;
	float: left;
	margin-top: 10px;
	background: url(../images/bg_li_van_ban.png) left 4px no-repeat;
}
.tai_van_ban .box_ct a {
	width: 73%;
	float: left;
	padding-left: 15px;
	line-height: 150%;
	font-size: 110%
}
.tai_van_ban .box_ct span {
	width: 20%;
	float: right
}
{
width:70%;
float:left
}
.ho_tro_truc_tuyen tr {
	padding: 5px 0px 5px 0px;
	width: 100%;
	float: left;
	line-height: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 110%
}
.ho_tro_truc_tuyen .hotline {
	font-size: 160%;
	color: red;
}
.ho_tro_truc_tuyen tr:last-child {
}
.ho_tro_truc_tuyen td {
	width: 50%;
	padding: 0;
	margin: 0;
}
.td2 {
	width: 100%
}
.ho_tro_truc_tuyen img {
	width: 95%
}
.ho_tro_truc_tuyen tr td:first-child {
}
.ho_tro_truc_tuyen tr td:last-child {
}
/*-------------------------------------*/
/*Products */
/*-------------------------------------*/
.chuyenmuc_row {
	float: left;
	width: 100%;
}
.chuyenmuc_row ul {
	padding: 0;
	margin: 0;
	float: left;
	width: 100%;
}
.chuyenmuc_row li {
	float: left;
	width: 33.3%;
}
.chuyenmuc_row li .chuyenmuc {
	overflow: hidden;
	text-align: center;
	padding: 10px;
}
.chuyenmuc_row li:nth-child(4) {
	float: right
}
.chuyenmuc_row li .chuyenmuc:nth-child(1), .chuyenmuc_row li .chuyenmuc:nth-child(2), .chuyenmuc_row li .chuyenmuc:nth-child(3) {
	padding-top: 0px;
}
.chuyenmuc_row li .chuyenmuc .chuyen_muc_inner {
	padding: 10px;
	overflow: hidden;
	padding-bottom: 20px;
	border: solid 1px #ccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #fff url(../images/bg_chuyen_muc.png) bottom right no-repeat;
}
.chuyenmuc_row span {
	width: 100%;
	float: left;
	text-align: center;
	color: #03F;
	text-transform: uppercase;
	font-size: 120%;
	font-weight: bold;
	border-bottom: solid 1px #eee;
	line-height: 25px;
}
.chuyenmuc .tin_noi_bat {
	width: 100%;
	float: left;
	margin-top: 0px;
}
.chuyenmuc .tin_noi_bat img {
	width: 99.5%;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	border: solid 1px #ccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.chuyenmuc .tin_noi_bat .text {
	width: 100%;
	float: left;
	padding: 0px;
	text-align: justify;
}
.chuyenmuc .tim_lien_quan {
	width: 100%;
	float: left;
}
.chuyenmuc .tim_lien_quan a {
	width: 100%;
	float: left;
	color: #0340B8;
	background: url(../Images/bullet-readon.gif) left center no-repeat;
	padding-left: 20px;
	line-height: 25px;
	text-align: left;
}
.chuyenmuc_row li.tranh_tung {
	width: 66.6%;
}
.chuyenmuc_row li.tranh_tung span {
	text-align: left;
	background-image: linear-gradient( to right, #0284E2, #043770 50% );
	height: 40px;
	color: #fff;
	line-height: 40px;
	padding-left: 20px;
}
.chuyenmuc_row li.tranh_tung .chuyenmuc .chuyen_muc_inner {
	padding: 0px;
	padding-bottom: 10px;
}
.tranh_tung .chuyenmuc .tin_noi_bat img {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.tranh_tung .chuyenmuc .chuyen_muc_inner {
	background: none !important
}
/*Footer*/
	
#footer {
	color: #fff;
	width: 100%;
	float: left;
	position: relative;
	margin-top: 20px;
	overflow: hidden;
	background: url(../images/bg_top_page.png);
}
/*#footer a {
	color: #fff;
}*/
.copyright {
	width: 40%;
	position: absolute;
	bottom: 15px;
	right: 10px;
	text-align: right;
}
.copyright p {
}
.copyright a {
	text-transform: capitalize;
	color: #fff;
}
#footer h3 {
	border-bottom: solid 1px #ccc;
	padding-bottom: 5px;
	width: 100%;
	text-transform: uppercase;
	margin-top: 10px;
}
.visit {
	height: 50px;
	position: absolute;
	right: 15px;
	top: 20px;
}
.visit .soluong {
	float: left;
	text-align: right;
	padding-left: 15px;
	padding-top: 10px;
	font-weight: bold;
}
.address {
	padding: 20px;
	width: 40%;
	float: left
}
#footer .address p {
	padding-top: 0px;
}
/*Tab*/

.view_all {
	float: right;
	margin-right: 70px;
	color: #33C;
}
.view_all:hover {
	color: red !important
}
.list_product .view_all {
	margin-right: 20px;
}
/*News*/
#list_news {
	padding: 10px;
	background: #FFF;
	overflow: hidden
}
#list_news ul li {
	border-bottom: 1px dotted #8B8B8B;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
#list_news h3 {
	padding: 0 0 3px 0;
	font-size: 12px;
}
#list_news p {
	margin: 0 0 1em 0;
	line-height: 150%;
}
#list_news {
	border: 0px
}
#list_news img {
	border: 1px solid #e3e3e3;
	padding: 3px;
	max-width: 150px;
	height: auto
}
.list_news {
}
.box_news_index li {
	width: 100%;
	float: left;
	padding-bottom: 0px;
	border-bottom: 1px dotted #8B8B8B;
	margin-bottom: 10px;
}
.box_news_index li:last-child {
	border-bottom: 0px;
}
.box_news_index li a {
	color: #0340B8;
	font-size: 12px;
}
.list_news .box_news_index img {
	max-width: 60px;
	float: left;
	padding: 1px;
}
.list_news .box_news_index .date {
	width: 100%;
	float: left
}
.list_news .box_news_index h3 {
	float: right;
	width: 70%;
}
#info_g, #info_g p {
	line-height: 160%
}
.date {
	color: #878787;
	font: 11px Arial, Helvetica, sans-serif;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #ccc;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -18px;
}
a.opinion {
	background-position: 0 -37px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	border-bottom: 1px solid #ccc;
	font-weight: 500;
	font-size: 16px;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 4px 0;
}
.other_news_sub a {
	background: url(../Images/arrow_l.png) no-repeat scroll 0 3px transparent;
	padding-left: 15px;
}
.other_news_sub a:hover {
	color: red !important;
}
/*Current Path*/
.path {
	padding: 5px 0px;
	text-align: left;
	overflow: hidden;
	background: #FFF;
	padding-left: 15px;
	margin-bottom: 5px;
}
.path, .path a {
	color: #0076DB;
	font-size: 95%;
	height: 20px;
	line-height: 20px;
}
.path a:hover {
	text-decoration: underline !important;
	color: #C00 !important;
}
/*Pagination*/
#main_col .navigation {
	float: left;
	clear: both;
	font-weight: 700;
	padding: 20px 0;
	text-align: center;
	width: 100%;
}
#main_col .navigation a {
	display: inline-block;
	border: 1px solid #043770;
	margin: 0 2px;
	padding: 4px 8px;
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #00B962;
	background-image: linear-gradient( to bottom, #0284E2, #043770 50% );
}
#main_col .navigation b, #main_col .navigation a:hover {
	display: inline-block;
	background: #fff;
	border: 1px solid #043770;
	color: #043770;
	margin: 0 2px;
	padding: 4px 8px;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/*detail_news*/
.h2Title {
	font-size: 120%;
	font-weight: 700;
	color: #0076DB;
	margin-bottom: 5px;
	padding-left: 20px;
	background: url(../Images/icon-module.png) no-repeat left;
}
.date {
	color: #878787;
	font: 11px Arial, Helvetica, sans-serif;
}
#info_g, #info_g p {
	line-height: 160%;
}
#detail_news {
	border: 0px;
	padding: 10px;
	overflow: hidden;
	padding-left: 20px;
	text-align: justify;
	background:#FFF;
}
/*Detail Info*/
#dtp_info {
	position: relative;
	color: #444444;
	float: left;
	width: 40%;
	margin: 0 10px 0 30px;
}
.h2Title {
	font-size: 20px;
	font-weight: 700;
	color: #870202;
	margin-bottom: 5px;
}
#dtp_info .dtp_status {
	float: left;
	display: block;
	width: 100%;
	line-height: 20px;
	color: #555555;
	margin-bottom: 8px;
}
#dtp_info .select {
	width: 100%;
	margin: 10px 0px;
}
#dtp_info .select select {
	margin-left: 10px;
	width: 100px;
}
#dtp_info .addtocart {
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 10px 0;
	margin-top: 20px
}
#dtp_info .dtp_price {
	color: #ff0000 !important;
	font-size: 18px !important;
	display: inline-block;
	line-height: 35px
}
#dtp_info .inputbox {
	width: 30px;
	margin-left: 10px;
}
#dtp_info .title_status {
	float: left;
	width: 160px
}
#dtp_info .buy_bt {
	width: 120px;
	margin-left: 80px;
	display: inline-block;
}
#text_info_detail {
	width: 100%
}
#the_same_P {
	width: 100%;
	float: left;
	margin-top: 10px;
}
#cmt_part {
	padding: 10px;
	border: 1px solid #CCCCCC;
	margin-left: 50px;
	margin-top: 10px
}
.buy_bt:hover {
text-shadow: 1px 1px 1px #444: color:yellow;
	box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
}
.addtocart a {
	color: #fff !important;
	line-height: 200%;
}
#info_pro_detail {
	margin-top: 10px;
}
#info_pro_detail li {
	text-align: left !important
}
table.page_cart {
	background-color: #C5C2C2;
	border-spacing: 1px;
	margin: 0.5em 0;
}
table.page_cart th, table.page_cart td {
	padding: 5px
}
table.page_cart td {
	background-color: #FFFFFF;
}
#cart .buy_bt {
	width: 150px !important;
	line-height: 200%;
	color: #fff;
	text-decoration: none;
	font-size: 100%;
}
/*Slide chay ngang*/
/*slide_ngang*/
.slide_ngang {
	width: 75%;
	margin-top: 10px;
	position: relative;
}
.slide_ngang {
	text-align: center;
}
/*Phan Hoi*/
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	/*border-bottom: 1px solid #999999;
	border-left: 0px solid #999999;*/
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	cursor: pointer;
	padding: 0px 10px;
	height: 31px;
	line-height: 31px;
	border-bottom: 1px solid #00A055;
	color: #fff;
	font-weight: bold;
	background: #00A055;
	overflow: hidden;
	position: relative;
	-webkit-border-top-left-radius: 9px;
	-moz-border-top-left-radius: 9px;
	border-top-left-radius: 9px;
	-webkit-border-top-right-radius: 9px;
	-moz-border-top-right-radius: 9px;
	border-top-right-radius: 9px;
	text-transform: uppercase;
	margin-left: 0px;
	-moz-box-shadow: inset 0 0 5px #030;
	-webkit-box-shadow: inset 0 0 5px #030;
	box-shadow: inset 0 0 5px #030;
}
ul.tabs li:hover {
	background: #990000;
}
ul.tabs li.active {
	background: #990000;
	border-bottom: 1px solid #990000;
	-moz-box-shadow: inset 0 0 5px #333;
	-webkit-box-shadow: inset 0 0 5px #333;
	box-shadow: inset 0 0 5px #333;
}
.tab_container, .tab_content_news {
	/*border: 1px solid #999999;*/
	border-top: none;
	clear: both;
	float: left;
	width: 100%;
	background: #FFFFFF;
}
.tab_content, .tab_content_news {
	padding: 10px;
	display: none;
}
#tab_price ul.tabs li {
	padding: 0px 10px 0px 10px;
}
#tab_price {
	margin-top: 10px;
	width: 55%;
	overflow: hidden;
	background: #8899A4;
	padding: 5px;
	-webkit-border-top-left-radius: 13px;
	-moz-border-top-left-radius: 13px;
	border-top-left-radius: 13px;
	-webkit-border-top-right-radius: 13px;
	-moz-border-top-right-radius: 13px;
	border-top-right-radius: 13px;
}
.view_detail {
	float: right;
	color: #043770;
	margin: 10px;
}
.view_detail:hover {
	color: #F00
}
#gioi_thieu {
	width: 43%;
	line-height: 25px;
	text-align: justify;
	background: url(../Images/bg_intro.png) bottom right no-repeat;
}
.inner_box {
	padding: 10px;
}
#gioi_thieu .view_detail {
	margin-top: 20px;
}
#tab_news {
	overflow: hidden;
	background: #8899A4;
	padding: 5px;
	-webkit-border-top-left-radius: 13px;
	-moz-border-top-left-radius: 13px;
	border-top-left-radius: 13px;
	-webkit-border-top-right-radius: 13px;
	-moz-border-top-right-radius: 13px;
	border-top-right-radius: 13px;
}
.sidebar .sb_tab_news {
	border: 0px !important;
}
#tab_news ul.tabs {
	border: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
}
#tab_news ul.tabs li {
	border: solid 1px #ccc;
	border-top: 0px;
	border: 0px;/*	-webkit-border-top-left-radius: 0px;
	-moz-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-top-right-radius: 0px;
	border-top-right-radius: 0px;*/
}
#tab_news .tab_content_news {
	border: 0px;
	border-top: solid 1px #ccc;
}
#tab_news .box_ct {
	border-top: 0px;
}
#tab_news .tab_content_news {
	padding: 0px
}
#tab_news .tab_container {
	border: 0px;
}
.gradient {
	background-image: linear-gradient( to bottom, #D9E0E6, #fff 70% );
}
